*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body {
  background-color: #f1e8b8;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
  background: #191919;
  color: white;
  text-align: center;

  
}


#copyright{
    padding-top: 14em;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
}
.carousel-inner{
    padding-bottom: 25em;
    height: 50vh;   
}

.estilo{
  margin-top: 3.5em;
    display: flex;
    align-content: center;
    justify-content: center;
}
label.error{
    margin-top: 0.625em;
    color: red;

}
#formulario{
    width: 80em;
    display: inline-block;
    background-color: #F1F1F1;
    font-style: italic;
    border-radius: 0.625em;
    padding-left: 0.625em;
    padding-top: 0.625em;
}
#boton-ql{
    margin: 1em;
}
#comentario{
    height: 6.25em;
    width: 25em;
    resize: none;
}
#caja{
    margin-top: 1.0em;
    display: flex;
    flex-direction: column;
}